= javascript_include_tag 'search.js'

#store_search
  %label お店を検索する
  %input(type="text" placeholder="お店の名前" id="store_search__input")/
  #map
#store_list.flex

= form_with(model: proposal, local: true, class: "form_wrapper") do |form|
  - if proposal.errors.any?
    #error_explanation
      %h2
        = pluralize(proposal.errors.count, "error")
        prohibited this proposal from being saved:
      %ul
        - proposal.errors.full_messages.each do |message|
          %li= message
  = form.label :end_time, "何時まで滞在するか："
  = form.datetime_select :end_time, min: DateTime.now.strftime("%y-%m-%dT%H:%M:%S.000") ,minute_step: 15
  %br
  = form.label :detail, "詳細："
  %br
  = form.text_area :detail, rows: "6"

  = fields_for :place, proposal do |place_form|
    = place_form.text_field :place_url, class: :hiddene, id: :place_url
    = place_form.text_field :name, class: :hiddene, id: :place_name
    = place_form.text_field :position, class: :hiddene, id: :place_position
    = place_form.text_field :image_url, class: :hiddene, id: :place_img

  .actions
    = form.submit