%p#notice= notice
%h1 Proposals
%table
  %thead
    %tr
      %th{:colspan => "3"}
  #proposal_list
    - @proposals.each do |proposal|
      %div{id: "proposal#{proposal.id}"}
        = image_tag proposal.place.image_url, alt: proposal.place.name
        %h4 #{proposal.place.name}
%br/
.new_btn
  = link_to '席をシェアする', new_proposal_path
